<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CBA Risk Management System</title>
</head>
<body>
<div style="padding: 25px; background: #fff; font-size: 18px; font-family: 'Fira Code Light'">
    <div align="center"
         style="width: 100%; background: #fff;  height: auto; border:0; padding:0;">
        <div style="padding-bottom: 20px;">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="padding:0; margin:0;">
                        <div align="center" style="padding:0; margin:0;background: #0050f0; border:0; height: 200px;">
                            <img src="https://www.centraalbeheer.nl/assets/mobilefirst/images/logo.svg"
                                 style=" padding: 10px; border-radius: 100px; width: 100px; height: 100px"
                                 alt="CBA Risk Management System">
                            <br>
                            <b style="font-size: 30px; color: #fff"> CBA Risk Management System</b>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <!--<td width="5px"> &nbsp;</td>-->
                    <td width="100%" style="padding: 20px;">
                        <br><br>
                        Hello <b>{{first_name}} {{last_name}}</b>, <br> <br>
                        Please be informed that there was a new log on to your <a style="color: #000; text-decoration: none" href="{{&site}}" target="_blank">CBA Risk Management System</a> account at <b>{{date_time}}</b>. <br><br>
                       <!-- If you did not log on at the time detailed above, kindly contact CBA on their official website.-->
                        <br>

                    </td>
                    <!--<td width="5px"> &nbsp;</td>-->
                </tr>
            </table>
        </div>
    </div>

</div>

</body>
</html>